<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>
            product list
        </title>
    </head>
    <body>
        <div class="container">
            <h1>Product List</h1>
            <div class="product-list">
                <div>
                    <h2>Product 1</h2>
                    <p>Description of product 1.</p>
                    <p class="price">$10.00</p>
                </div>
                <div>  
                    <h2>Product 2</h2>
                    <p>Description of product 2.</p>
                    <p class="price">$20.00</p>
                </div>
                <div>
                    <h2>Product 3</h2>
                    <p>Description of product 3.</p>
                    <p class="price">$30.00</p>
                </div>
            </div>
        </div>
    </body>
</html>